.calculator {
    text-align: center;
    color: #999;
    display: inline;
    zoom: 1.2;
}

.result {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    border-style: solid;
    border-width: 1px;
    color: black;
    background: orange;
    width: 5.7em;
    height: 1.5em;
    padding-left:5px;
    font-weight: 100;
}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 0px;
    width: 2.3em;
    height: 1.2em;
    font-size: 25px;
    background: #ff9500;
}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 0px;
    width: 2.3em;
    height: 1.2em;
    font-size: 25px;
    background: #ff9500;
}

.addition-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    width: 24px;
    height: 24px;
    padding-top: 4px;
}

.substraction-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    width: 24px;
    height: 24px;
    padding-top: 4px;
}

.multiplication-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    width: 24px;
    height: 24px;
    padding-top: 4px;
}

.division-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    width: 24px;
    height: 24px;
    padding-top: 4px;
}

.exp-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 7px;
    width: 24px;
    height: 24px;
}

.sqr-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
    width: 24px;
    height: 24px;
}

.sqrt-button {
    cursor: pointer;
    color: black;
    background: orange;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
    width: 24px;
    height: 24px;
}